.spinner_main_cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03030385;
    z-index: 1;
    position: absolute;
    /* background-color: #18171702; */
}
.spinner_cont{
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
    /* border: 3px solid  rgba(1, 1, 65, 0.884) ; */
    background:radial-gradient(blue,rgb(3, 3, 156),rgba(1, 1, 65, 0.884));
    animation: spinner 1.25s ease-in-out 1.50ms infinite normal;
    
    

}
@keyframes  spinner{
    0%{
        rotate: 0deg;
    }
    50% {
        border-radius: 50%;
        rotate: 360deg;
        width: 5vw;
        height: 5vw;
      }
      100% {
        border-radius: 5%;
        rotate: -360deg;
        width: 10vw;
        height: 10vw;
      }
}
.spinner-text{
    position: absolute;
    left: auto;
    top: auto;
    font-size:medium;
}